# Go
*.exe
*.out
*.test
vendor/
bin/
*.log

# Dependency directories
node_modules/

# Vue
quick-notes-frontend/node_modules/
quick-notes-frontend/dist/

# Environment
.env
.env.*

# System
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
